* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    width: 100vw;
    height: 100%;
}

.nav {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 4em;
    z-index: 1000;
}

a {
    color: #000;
    text-transform: uppercase;
    padding: 0 1em;
    font-weight: 500;
    font-size: 18px;
}

.logo {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em;
    z-index: 1001;
    text-transform: uppercase;
}

.container {
    width: 100%;
    height: 100vh;
    background: #fff;
    position: relative;
    padding: 0 4em;
}

.content img {
    width: 100%;
}

img {
    margin-bottom: 4em;
}
